NODE_ENV={{node_env}}
PORT={{node_application_port}}
DATABASE_TYPE={{node_application_db_type}}
DATABASE_NAME={{node_application_db_name}}
DATABASE_USERNAME={{node_application_db_username}}
DATABASE_PASSWORD={{node_application_db_password}}
DATABASE_HOSTNAME={{node_application_db_hostname}}
